{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1 class="title">Todo App</h1>

    <form action="" class="todo" method="post">
      {% csrf_token %}
      <div>
        {{ form.item|attr:"placeholder: Enter Todo" | add_class:"addTodo" }}
      </div>
      {{ form.status| add_class:"addTodo" }}
      <!-- <input
        type="text"
        id="addTodo"
        name="addTodo"
        placeholder="Add todo item"
      /> -->
      <input type="submit" id="submitTodo" name="submitTodo" value="Add Todo" />
    </form>

    <ul class="list">
      {% for i in items %}
      <a href="{% url 'delete' i.id %}">
        <li>{{i.item}}</li>
      </a>
      {% endfor %}
    </ul>
  </body>
</html>
