* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    background-color: #f5f5f5;
    color: green;
    font-size: 40px;
    padding: 10px;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

#addTodo {
    border: none;
    border-bottom: 2px solid gray;
    width: 300px;
    padding: 10px;
    outline: none;
    margin-right: 20px;
}

#submitTodo {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: #f5f5f5;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.list li {
    text-align: left;
    list-style-type: none;
    font-size: 40px;
}

.list li:hover {
    text-decoration: line-through;
}